.container-subtitles {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: white;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}

.pet-cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  color: rgb(196, 187, 187);
}

.container-images {
  display: flex;
  width: 35vw;
  height: 20vh;
  justify-content: center;
  margin-bottom: 3%;
  border-radius: 5px;
  border: solid 1px black;
}

.container-images:hover {
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}

.input-mokepon {
  display: none;
}

input + label {
  width: 100%;
  height: 100%;
}

input:checked + label {
  background-color: black;
  color: yellow;
  border: yellow 4px solid;
  border-radius: 3px;
  transition-duration: 0.1s;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70;
  height: 65%;
}

.name-pet {
  display: flex;
  justify-content: center;
  font-size: small;
}

.label-border {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  width: 20vw;
  height: 7vh;
}

.button-select-mokepon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(158, 60, 60);
  color: white;
  width: 95%;
  height: 95%;
}

.button-select-mokepon:hover {
  width: 100%;
  height: 100%;
  transition-duration: 0.2s;
  background-color: rgb(31, 24, 24);
  color: red;
}

#see-map {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#map {
  border: solid black 2px;
}

.buttonsMovement {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(158, 60, 60);
  color: white;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid yellow 1px;
  width: 100vw;
  height: 10vh;
}

#select-attack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-buttons-attack {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2vh;
}

.button-attack {
  background-color: rgb(149, 1, 1);
  border: solid 1px black;
  border-radius: 10px;
  width: 30vw;
  height: 30px;
  color: white;
}

.button-attack:hover {
  color: rgb(61, 0, 0);
}

#messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  border-radius: 10px;
  background-color: rgb(61, 0, 0);
  margin-top: 10px;
  width: 50vw;
  height: 15vh;
}

#button-again {
  border: transparent;
  color: rgb(149, 1, 1);
  background-color: transparent;
}

#button-again:hover {
  color: rgb(255, 0, 0);
}

#check-life {
  display: grid;
}

.combat-representation-container {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 40vw 10vw 40vw;
  text-align: center;
  grid-gap: 10px;
}

.combat-representation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid yellow;
  border-radius: 10px;
  background-color: rgb(149, 1, 1);
  color: white;
}

.combat-vs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: yellow;
  font-size: xx-large;
}

.combat-representation-image-container {
  width: 30vw;
  height: 20vh;
}

.combat-representation-image {
  width: 100%;
  height: 100%;
}

.combat-attacks-historial {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 40vw 40vw;
  text-align: center;
  grid-gap: 10px;
}

#player-Attack-div {
  border: 1px solid yellow;
  border-radius: 10px;
  background-color: rgb(149, 1, 1);
  color: white;
}

#enemy-Attack-div {
  border: 1px solid yellow;
  border-radius: 10px;
  background-color: rgb(149, 1, 1);
  color: white;
}

@media only screen and (min-width: 767px) {
  .container-images {
    display: flex;
    width: 25vw;
    height: 24vh;
    justify-content: center;
    margin-bottom: 3%;
    border-radius: 7px;
    border: solid 2px black;
  }
  .name-pet {
    display: flex;
    justify-content: center;
    font-size: medium;
  }
}
@media only screen and (min-width: 1023px) {
  .container-images {
    display: flex;
    width: 25vw;
    height: 24vh;
    justify-content: center;
    margin-bottom: 3%;
    border-radius: 9px;
    border: solid 3px black;
  }
  .name-pet {
    display: flex;
    justify-content: center;
    font-size: medium;
  }
}
@media only screen and (min-width: 1439px) {
  .container-images {
    display: flex;
    width: 25vw;
    height: 24vh;
    justify-content: center;
    margin-bottom: 3%;
    border-radius: 10px;
    border: solid 3px black;
  }
  .name-pet {
    display: flex;
    justify-content: center;
    font-size: large;
  }
}
.bg {
  /*background: radial-gradient(circle at bottom, yellow, orange, red);
  border-radius: 50%;*/
  background: radial-gradient(circle at bottom, rgb(255, 0, 0), rgb(149, 1, 1), rgb(61, 0, 0));
  border-radius: 50%;
}

s .background-image {
  background-image: url("../images/backgroundImg.webp");
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.container-titles {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: black;
  color: white;
}

.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*# sourceMappingURL=styles.css.map */
